.Navbar {
  background-color: #2d2d2d;
  height: 60px;
}
.Navbar nav {
  height: 100%;
}

.Navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 36px;
  background-color: #323232bf;
  height: 100vh;
  width: 100%;
  transform: translate(0, -100%);
  transition: transform 0.5s ease-in-out;
}

.Navbar ul li {
  width: 400px;
  height: 100px;
  vertical-align: middle;
  line-height: 100px;
  border-bottom: 3px solid #ffffff3f;
}

.Navbar ul li:last-child {
  border-bottom: 0;
}

.Navbar .checkbox {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 100%;
  transform: translate(-150%, 0);
  margin: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.Navbar .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 100%;
  transform: translate(-150%, 0);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Navbar .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #c4c4c4;
}

.Navbar .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.Navbar .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.Navbar .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.Navbar input[type="checkbox"]:checked ~ .menu-items {
  transform: translate(0, 0);
}

.Navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.Navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.Navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 425px) {
  .Navbar ul li {
    width: 80%;
  }
}

@media only screen and (min-width: 641px) {
  .Navbar .hamburger-lines,
  .checkbox {
    display: none;
  }

  .Navbar nav {
    display: block;
  }

  .Navbar ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    transform: translate(0);
    gap: 25px;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .Navbar ul li {
    width: auto;
    height: auto;
    line-height: normal;
    border: 0;
  }
}
