.Navbar {
  background-color: #2d2d2d;
  height: 60px;
}

.Navbar nav {
  height: 100%;
}

.Navbar ul {
  display: none;
}

.Navbar .checkbox {
  display: block;
  height: 32px;
  width: 32px;
  margin: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.Navbar .hamburger-lines {
  display: block;
  height: 32px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Navbar .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #c4c4c4;
}

@media only screen and (min-width: 641px) {
  .Navbar .hamburger-lines,
  .checkbox {
    display: none;
  }

  .Navbar ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}
