.Post {
  background-color: #323232bf;
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
}

.post-container {
  margin: 35px 30px 0;
  display: flex;
  flex-direction: column;
}

.photo-container {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: #444444;
}

.text-container {
  padding: 30px 0;
  text-align: start;
}

.text-container h4 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.text-container h6 {
  font-size: 15px;
  margin: 0;
}

.text-container p {
  font-size: 12px;
  color: #ffffffbf;
  font-weight: bold;
  margin-bottom: 0;
}

.comment-container {
  box-sizing: border-box;
  background-color: #353535;
  padding-top: 10px;

  overflow: hidden;
  overflow-y: scroll;
}

.comment-container .input-container {
  width: 90%;
  height: 40px;
  margin: 0 5%;
  background-color: #353535;

  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;

  position: sticky;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  z-index: 0;

  display: flex;
}

.comment-container .input-container input {
  background-color: #444444;
  min-width: none;
  width: 20px;
  padding: 0 0 0 20px;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  flex-grow: 1;
}

.comment-container .input-container input:focus {
  outline: none;
}

.comment-container .input-container button {
  border: 0;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 15px;
  background-color: #4444447f;
}

::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 640px), (min-width: 1201px) {
  .comment-container {
    max-height: 275px;
  }
}
